<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Head Placement</title>
    <script src="{{url_for('static', filename='styles.css')}}"></script>
</head>
<body>
    <div class="container">
        <video id="video" autoplay></video>
        <div class="overlay"></div>
        <p>Hi</p>

    </div>
    
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
