<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disclaimer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="brand">
            <h2>Spectacular Eyewear</h2>
        </div>
        <div class="nav-items">
           
            <p onclick="window.location.href = '/camera';">Recommended</p>
            <p onclick="window.location.href = '/';">Home</p>
        </div>
    
        </div>
    <div class="Disclaimer">
      <h2>Disclaimer</h2>
      <div id="letter">
      <p>The information and materials on this website are based on the research conducted by Computer Science students at Far Eastern University Alabang. Data collected from this website are used solely for the its purpose to assists users regarding their eyewear. FIGURES are committed to following best practices for web development and user data protection. We encourage all visitors to use this website responsibly and report any potential security concerns. The information and content provided on this site are intended for educational and research purposes only.
        If you have any questions about this website or research presented, please contact FIGURES at figures@feualabang,edu.ph</p>
    </div>
  
    </div>
    <footer>
        <p onclick="window.location.href = '/about';">About Us</p>
      
        <p>&nbsp|&nbsp</p>
        <p onclick="window.location.href = '/disclaimer';">Disclaimer</p>
    </footer>
</body>
</html>