<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
 
    <div class="navbar">
        <div class="brand">
            <h2>Spectacular Eyewear</h2>
        </div>
        <div class="nav-items">
           
            <p onclick="window.location.href = '/camera';">Recommended</p>
            <p onclick="window.location.href = '/browse';">Virtual Try On</p>
        </div>
     
    </div>
<div class = "content">
    <div class="bg">
    <h1>Eyewear Virtual Try On With Recommendation System   Using Machine Learning</h1>
   </div>
    <div class="buttons">
    <button class="black-button" onclick="window.location.href = '/browse';">Browse Eyewear</button>
    <button class="black-button" onclick="window.location.href = '/camera';" >Try Now</button>
    </div>
    </div>
    </div>
    <footer>
        <p onclick="window.location.href = '/about';">About Us</p>
      
        <p>&nbsp|&nbsp</p>
        <p onclick="window.location.href = '/disclaimer';">Disclaimer</p>
    </footer>
   

</div>

</body>
</html>
