<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
 
    <div class="navbar">
        <div class="brand">
            <h2>Spectacular Eyewear</h2>
        </div>
        <div class="nav-items">
            <p>Eyeglasses</p>
            <p>Recommended</p>
            <p>Virtual Try-On</p>
        </div>

    </div>
<div class = "content">
    <div class="bg">
    <h1>Eyeglass Virtual Try On With Recommendation System   Using Machine Learning</h1>
   </div>
    <div class="buttons">
    <button class="black-button">Try Now</button>
    <button class="black-button">Browse Eyeglass</button>
    </div>
    </div>
    </div>
    
   

</div>

</body>
</html>
