<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-EN" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>Spectacular Eyeglasses VTO demo</title>
    
    <!-- INCLUDE WebAR.rocks.face MAIN SCRIPT -->
    <script src="{{ url_for('static', filename='dist/WebARRocksFace.js') }}"></script>
  
    
    
    <script src="{{ url_for('static', filename='helpers/WebARRocksFaceThreeHelper.js') }}"></script>
  
    <!-- INCLUDE MAIN HELPER -->
    

    <!-- THREE.JS, FOR THE RENDERING -->
    <!-- WARNING: for production you should replace three.js by three.min.js -->
    <script src="{{ url_for('static', filename='libs/three/v136/build/three.js') }}"></script>
    
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/loaders/GLTFLoader.js') }}"></script>


    <!-- THREE.JS RGBE loader - you can remove it if you don't use envmap: -->
        
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/loaders/RGBELoader.js') }}"></script>
    

    <!-- THREE.JS postprocessing - you can remove it if you don't use bloom or temporal anti aliasing : -->
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/postprocessing/EffectComposer.js') }}"></script>
  
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/postprocessing/ShaderPass.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/postprocessing/RenderPass.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/shaders/CopyShader.js') }}"></script>

    <!-- Bloom postprocessing: -->
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/postprocessing/UnrealBloomPassTweaked.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/shaders/LuminosityHighPassShader.js') }}"></script>
    <!-- TAA specifics: -->
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/postprocessing/SSAARenderPass.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/three/v136/examples/js/postprocessing/TAARenderPass.js') }}"></script>


    <!-- INCLUDE MIRROR HELPER -->
    <script src="{{ url_for('static', filename='helpers/WebARRocksMirror.js') }}"></script>


    <!-- INCLUDE MAIN DEMO SCRIPT -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- INCLUDE LANDMARKS STABILIZER -->
    <script src="{{ url_for('static', filename='helpers/landmarksStabilizers/OneEuroLMStabilizer.js') }}"></script>

    <script src="{{ url_for('static', filename='glassesDetails.js') }}"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vto.css') }}">
   
  </head>
  
  <body>
     <!--
      The first canvas is used by WebAR.rocks.mirror
      It is linked to a WebGL context used by the deep learning engine
      And it displays the video of the webcam.
      
      Since we need to transfer the video to a texture for face detection,
      it is not costly at all to use this texture for display.

      You can tweak the rendering of the video in WebARRocksFaceThreeHelper.js,
      by editing the fragment shader of _shps.copy
    -->
    <div class="container">
      <div class="block">
        <div id="imageSection"></div>
        <h1>Recommended Eyewear for round face Shape</h1></div>
      <div class="canvas-wrapper">
        <canvas id='WebARRocksFaceCanvas'></canvas>
        <canvas id='threeCanvas'></canvas>
      </div>
      <div class="block" id="information">
        <div id="textInfo">

      
      </div>
      <div id = "palette">
  
      </div>
      <div id="switch">
  
      </div>
    </div>
    </div>

    <div id='controls'>
         
      <div class="choices" onclick='WebARRocksMirror.load("static/assets/models3D/2-Black.glb"); addDetails(this)'>
        Glass 2
      </div>
      <div class="choices" onclick='WebARRocksMirror.load("static/assets/models3D/3-Black.glb"); addDetails(this)'>
        Glass 3
      </div>
   
      <div class="choices" onclick='WebARRocksMirror.load("static/assets/models3D/6-White.glb"); addDetails(this)'>
        Glass 6
      </div>
      <div class= "choices" onclick = 'WebARRocksMirror.load(false); remove()' >No glasses
      </div>
      <div class="choices" onclick = 'WebARRocksMirror.pause(true)'>Pause</div>
      <div class ="choices" onclick = 'WebARRocksMirror.resume(true)'>Resume</div>
      
      <div  class= "choices" onclick = 'WebARRocksMirror.resize(260, 450)'>Refresh</div>
    
    
      </div>

   
  
   

    
  </body>
</html>
 
